<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src= "<%= data.user.foto %>" alt="" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= data.user.usuario %>
						<a href="/users/editprofile">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/detalle">
						<figure class="product-box_image">
							<img src=<%= products[0].cover %> alt=<%= products[0].nombre %>>
						</figure>
						<article class="product-box_data">
							<h2><%= products[0].nombre %></h2>
							<p><%= products[0].descripcion %></p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/detalle">
						<figure class="product-box_image">
							<img src=<%= products[1].cover %> alt=<%= products[1].nombre %> >
						</figure>
						<article class="product-box_data">
							<h2><%= products[1].nombre %> </h2>
							<p><%= products[1].descripcion %> </p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/detalle">
						<figure class="product-box_image">
							<img src=<%= products[2].cover %>  alt=<%= products[2].nombre %> >
						</figure>
						<article class="product-box_data">
							<h2><%= products[2].nombre %> </h2>
							<p><%= products[2].descripcion %> </p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/detalle">
						<figure class="product-box_image">
							<img src=<%= products[3].cover %>  alt=<%= products[3].nombre %>>
						</figure>
						<article class="product-box_data">
							<h2> <%= products[3].nombre %></h2>
							<p><%= products[3].descripcion %></p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/detalle">
						<figure class="product-box_image">
							<img src=<%= products[4].cover %>  alt=<%= products[4].nombre %>>
						</figure>
						<article class="product-box_data">
							<h2> <%= products[4].nombre %></h2>
							<p><%= products[4].descripcion %></p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producs/detalle">
						<figure class="product-box_image">
							<img src=<%= products[5].cover %>  alt=<%= products[5].nombre %>>
						</figure>
						<article class="product-box_data">
							<h2> <%= products[5].nombre %></h2>
							<p><%= products[5].descripcion %></p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/detalle">
						<figure class="product-box_image">
							<img src=<%= products[6].cover %>  alt=<%= products[6].nombre %>>
						</figure>
						<article class="product-box_data">
							<h2> <%= products[6].nombre %></h2>
							<p><%= products[6].descripcion %></p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/detalle">
						<figure class="product-box_image">
							<img src=<%= products[7].cover %>  alt=<%= products[7].nombre %>>
						</figure>
						<article class="product-box_data">
							<h2> <%= products[7].nombre %></h2>
							<p><%= products[7].descripcion %></p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footer.ejs')%>

	<!-- /footer -->
</body>	
</html>